*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: grid;
    margin: auto;
    margin-top: 40px;
    grid-template-columns: 1fr ;
    gap: 10px;
    width: 30vw;
}
form input , body {
    text-align: center;
}
